# Ignore IDE settings
.vscode/

# Ignore compiled classes and binaries
classes/
hadoop/classes/
*.class
*.jar

# Ignore datasets and inputs
dataset/
hadoop/input/
spark/books/

# Ignore outputs and artifacts
hadoop/output/
spark/artifacts/
spark/spark_output_task10/